.label {
    border: 1px solid #dadee7;
    padding: 8px 10px;
    border-radius: 24px;
    cursor: pointer;
}
.label:before {
    content: 'Period:';
    color: #8492af;
    font-size: 14px;
    font-weight: 500;
}
select {
    border: none;
    cursor: pointer;
    color: #0e1a35;
    font-family: "Roboto";
    background: none;
    font-weight: bold;
}
select:before {
   content: 'qwe';
    display: block;
}