.site-body {
    display: flex;
    min-height: 100vh;
}
.topbar-main-section {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.main {
    flex: 1;
    background-color: #f6f7fa;
    padding: 30px 15px;
    height: calc(100vh - 86px);
    overflow-y: scroll;
}
.main h2 {
    color: #0e1a35;
    font-size: 31px;
    font-weight: 500;
    margin-left: 15px;
}
* {
    box-sizing: border-box;
    outline: none;
}
